@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
:root{
    --primary: #2361F1;
    --primaryDarker: #12378b;
    --primaryLighter: #3f75f2;
    --secondary: #F3B52C;
    --shadowPrimary: 0 1px 2px 1px #e1e1e1;

    --sideSpace: 14%;
    --textColor: #131313;
}

@media screen and (max-width: 1024px) {
    :root{
        --sideSpace: 6%;
    }
}

body {
    color: var(--textColor);
}